[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "libs/Refureku"]
	path = libs/Refureku
	url = https://github.com/jsoysouvanh/Refureku.git
[submodule "libs/libs/spir-v"]
	path = libs/libs/spir-v
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "libs/spir-v"]
	path = libs/spir-v
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
