[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "libs/JoltPhysics"]
	path = libs/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "libs/meta"]
	path = libs/meta
	url = https://github.com/skypjack/meta.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/spir-v"]
	path = libs/spir-v
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "libs/imguizmo"]
	path = libs/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
